
/*
	SELECTORS FOR PRESENTATION NOTES
*/
#appclogo {
	/* ICON/BUTTON IN SLIDESHOW */
	position: absolute;
	bottom: 20px;
	left: 20px;
	width: 60px;
	height: 60px;
}
#appclogo img {
	width: 60px;
	height: 60px;
}
#presenternotes {
	/* ICON/BUTTON IN SLIDESHOW */
	position: absolute;
	bottom: 20px;
	left: 158px;
	width: 48px;
	height: 48px;
}
#presenternotes img {
	width: 48px;
	height: 48px;
}
#firstslide {
	/* ICON/BUTTON IN SLIDESHOW */
	position: absolute;
	bottom: 20px;
	left: 95px;
	width: 48px;
	height: 48px;
}
#firstslide img {
	width: 48px;
	height: 48px;
}


.slidenote {
	/* HIDES PRESENTER NOTES IN THE SLIDESHOW ITSELF */
	display:none;
}
@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-Semibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Museo';
	src: url('../../presentation-engine/fonts/MuseoSans_700.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
#presenter {
	/* CONTROLS TEXT OUTPUT IN THE PRESENTER NOTES WINDOW */
	margin:5px 10px;
	font-size: 0.65em !important;
	font-family: 'Open Sans';
}
.nestedarrow {
	width: 50px;
	height: 50px;
	position: absolute;
	bottom:0;
	left:50%;
	margin: 0;
	background: rgba(255,255,255,0) !important;
	border: 0px !important;
	box-shadow: none !important;
}
.nestedarrow img {
	margin: 0;
	background: rgba(255,255,255,0) !important;
	border: 0px !important;
	box-shadow: none !important;
	width: 50px;
	height: 50px;
	
}

/*
	TRAINING SPECIFIC OVERRIDES OF DEFAULT TITAN/REVEAL CSS CLASSES
*/

html {
	background: #666; /* A2BCC6 */
	background: -moz-radial-gradient(top, ellipse cover, #ddd 30%, #666 100%);
	background: -webkit-gradient(radial, top center, 0px, top center, 100%, color-stop(30%,#ddd), color-stop(100%,#666));
	background: -webkit-radial-gradient(top, ellipse cover, #ddd 30%,#666 100%);
	background: -o-radial-gradient(top, ellipse cover, #ddd 30%,#666 100%);
	background: -ms-radial-gradient(top, ellipse cover, #ddd 30%,#666 100%);
	background: radial-gradient(top, ellipse cover, #ddd 30%,#666 100%);
}
body {
	font-size: 20pt;
}
#reveal h1, 
#reveal h2, 
#reveal h3, 
#reveal h4 {
	color: #9A0707;
	text-shadow: 0.02em 0.02em 0.07em #666;
}
h1 { font-size: 4em !important; }
h2 { font-size: 3.5em !important; }
h3 { font-size: 3em !important; }
h4 { font-size: 2em !important; }
h5 { font-size: 1.9em !important; line-height: 1.2em; }
p, div, li, td, h5 { color: #222 !important; font-family: 'Museo' !important; }
section a { color: #222 !important; text-decoration:underline !important;}
li { padding-bottom: 5px;  }

#reveal pre code {
	font-size: 1.35em !important;
	line-height: 1.2em;
}

#reveal .slides {
	position: absolute;
	width: 1024px;
	height: 800px;
	
	left: 50%;
	top: 40%;
	margin-left: -516px;
	margin-top: -320px;
	padding: 20px 0px;
}
/* small screen version */
.smallscreen {
	width: 780px !important;
	height: 640px !important;
	margin-left: -390px !important;
	margin-top: -280px !important;
}

#reveal .controls a {
	opacity: 0.25 !important;
}
#reveal .controls a.enabled {
	color: #9A0707 !important;
	opacity: 0.6 !important;
}
#reveal .progress span {
	background: #9A0707 !important;
}
#reveal h1, #reveal h2, #reveal h3 {
    text-transform: none;
    font-variant: small-caps;
}
#reveal .topicH1 {
	text-align:center;
	margin-top:100px;
	margin-bottom:50px;
}
#reveal .topicH1 img {
	width:128px;
	border:none !important; 
	box-shadow: none !important; 
	background: rgba(255,255,255,0);
	margin-right:50px;
	vertical-align:-15%;
}
#reveal img.noborder {
	border:none !important; 
	box-shadow: none !important; 
	background: rgba(255,255,255,0);
}

section table {
	width: 90%;
	margin: 5px auto;
	border: 1px solid #ababab;
}
section table th {
	border-bottom: 2px solid #444;
	text-align: left !important;
	padding: 10px;
	font-size: 0.8em;
	background-color: #888;
	color: #fff;
}
section table td {
	border-bottom: 1px solid #ababab;
	text-align: left !important;
	padding: 10px;
	font-size: 0.8em;
}

/* FOR THE LAB SLIDES */
#labwrapper a:not(.image) {
	text-decoration:underline;
}
#labwrapper ul {
	margin-left:30px;
}
#labwrapper h1 {
	font-size: 2.75em;
}
#labwrapper h2 {
	font-size: 2.5em;
}
#labwrapper {
	margin: 0 10px;
	font-size: 0.6em;
	line-height: 1.25em;
	text-align: left !important;
	overflow-x: scroll;
	overflow-y: visible;
	height: 100%;
	width: 950px;
}
#labwrapper table {
	border: 0;
	width: 90%;
	margin: 0 35px 0 10px;
}
.tdfiller {
	width: 80px;
}
.labinstructions {
	padding-left:24px;
	text-indent:-24px;
}
.labexplanations {
	font-style: italic;
	padding-bottom: 20px;
}
